@font-face {
    font-family: KaiTi;
    src:url("/fonts/KaiTi.ttf");
    src:url("/fonts/kaiti_webfonts.svg");
}

@font-face {
    font-family: chunlian;
    src: url("/fonts/chunlian.ttf");
}

html, body, h1, h2, h3, h4, p, ul, li, a, div {
    padding:0;
    margin:0;
    border:0;
    font-size:100%;
    font-weight:normal;
}

body {
    display:block;
    position:relative;
    width:100%;
    height:100%;
    background-image: url(/images/design/background.jpg);
    background-position: top center;
    background-repeat:no-repeat;
}
